body,
html {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #47463b;
  font-family: "Montserrat", sans-serif;
  background-color: #e79d63;
}

/* Navigation */

.nav {
  background-color: #e79d63;
  color: #eae7d4;
}
.nav-logo {
  max-width: 50px;
}

button.nav-btn,
div.nav-btn {
  background-color: #e79d63;
  color: #eae7d4;
}

button.nav-btn:hover,
div.nav-btn:hover {
  color: #e79d63;
  background-color: #807e71;
}

/* Hero Section */

.hero {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(231, 157, 99, 0.99),
      rgba(128, 126, 113, 0.73)
    ),
    url("./assets/header-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eae7d4;
  border-radius: 0 0 100px 100px;
}

/* About Section */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.about-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.self-photo {
  border-radius: 40%;
  width: 50%;
  margin: auto;
}

.about-btn {
  max-width: 50%;
}

h1 {
  font-weight: 400;
  margin: 0.5rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  margin: 10px;
}

.name {
  font-weight: 700;
  color: #47463b;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin: 5% auto;
  width: 25%;
}

.social {
  height: 2rem;
  margin: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

label,
input {
  margin: 0.5rem;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  border-radius: 50px;
}

input {
  width: 50%;
  height: 30px;
  padding: 5px;
}
