.aboutSection,
.aboutPhoto {
  display: flex;
  justify-content: center;
}

.aboutText {
  margin: auto;
  max-width: 70%;
}

.aboutPhoto {
  border: 6px solid #47463b;
  border-radius: 20px;
  margin: 2rem;
}

.selfie {
  z-index: -1;
}

a.aboutBtn {
  padding: 0.75rem;
  color: #e79d63;
  background-color: #47463b;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

a.aboutBtn:hover {
  padding: 1rem;
  text-decoration: overline;
  background-color: #47463b;
}
