.fsFrm {
  width: 75%;
  min-width: 60%;
  border: 10px solid #e79d63;
  margin: auto;
  text-align: center;
  color: #eae7d4;
  background-color: #807e71;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.fsFrm div {
  margin: 1rem;
}

.fsFrm button {
  margin: 1rem;
  padding: 0.75rem;
  color: #e79d63;
  background-color: #47463b;
  border-radius: 10px;
}

.fsFrm button:hover {
  padding: 1rem;
  color: #e79d63;
  background-color: #47463b;
  text-decoration: overline;
}

.formControl {
  width: 70%;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
