/* @import "../node_modules/bootstrap/scss/bootstrap"; */

html,
main,
#__next,
body {
  min-height: 100%;
  min-width: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  padding-bottom: 5rem;
}

body {
  margin: 0;
  color: #47463b;
  background-color: #e9e7d4;
  /* padding-right: 0px; */
}

body,
html,
button.MuiButton-root,
a.MuiButton-root,
.MuiTypography-root,
div.MuiTypography-root,
p.MuiTypography-root,
h6.MuiTypography-root,
label.MuiFormLabel-root,
input#email-address,
input#full-name,
textarea#message,
p,
a.nav-btn,
h2,
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 120%;
  }
}

.container {
  margin: 2.5rem;
}

/* Navigation */

.nav {
  background-color: #e79d63;
  color: #47463b;
  box-shadow: 5px 5px 25px #47463b;
}

nav.MuiPaper-root,
div.MuiBox-root {
  box-shadow: none;
}

a.nav-btn {
  padding: 0.5rem;
  text-decoration: none;
  color: #47463b;
  border-radius: 0.5rem;
  border: 1px solid #47463b;
  margin: 0.25rem;
}

a.nav-btn:hover {
  padding: 0.75rem;
  text-decoration: overline;
}

a.nav-btn:active {
  text-decoration: underline;
  text-decoration-color: #e79d63;
}

.nav-social {
  margin: 1rem;
}

/* removes social icons when breakpoint is hit; this prevents nav from wrapping elements too much and covering the hero image*/
@media only screen and (max-width: 1000px) {
  div.desktop {
    display: none;
  }
}

/* Headings */
.card-title {
  text-transform: uppercase;
  text-decoration: overline;
}
