body,
html {
  margin: auto;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #47463b;
  background-color: #e9e7d4;
}

body,
html,
.MuiButton-root,
.MuiTypography-root {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 6rem 4rem;
}

/* Navigation */
div.MuiPaper-root,
.nav {
  background-color: #e79d63;
  color: #47463b;
}
nav.MuiPaper-root,
div.MuiBox-root {
  box-shadow: none;
}
.nav {
  margin: auto 0;
  box-shadow: 5px 5px 25px #47463b;
}
.nav-logo {
  max-width: 50px;
}

a.nav-btn {
  padding: 0.5rem;
  text-decoration: none;
  color: #47463b;
  border-radius: 0.5rem;
  border: 1px solid #47463b;
  margin: 0.25rem;
}

a.nav-btn:hover {
  color: #e79d63;
  background-color: #47463b;
}

a.nav-btn:active {
  text-decoration: underline;
  text-decoration-color: #e79d63;
}

.nav-social {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  div.desktop {
    display: none;
  }
}

/* About Section */

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.about-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.self-photo {
  border-radius: 20px;
  margin: auto;
}

.about-btn {
  max-width: 50%;
  color: #e79d63;
  background-color: #47463b;
  text-align: center;
}
.about-btn:hover {
  text-decoration: underline;
  background-color: #47463b;
}

h1 {
  font-weight: 400;
  margin: 0.5rem;
}

.card-title {
  text-transform: uppercase;
  text-decoration: overline;
}

/* Projects Section */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  margin: 10px;
}

.social {
  height: 10%;
  margin: 1.5rem;
}

/* Contact Form */
/* .contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

label,
input {
  margin: 0.5rem;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  border-radius: 50px;
}

input {
  width: 50%;
  height: 30px;
  padding: 5px;
} */
