.heroWrapper {
  position: sticky;
  overflow: hidden;
  border-radius: 0 0 100px 100px;
  color: #eae7d4;
  margin: 4rem 0;
}

@media (max-width: 768px) {
  .heroWrapper {
    border-radius: 0;
  }
}

.imageWrapper {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(231, 157, 99, 0.99),
    rgba(128, 126, 113, 0.73)
  );
}

.heroContent {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
}

@media (max-width: 768px) {
  .heroContent {
    margin: 1rem;
  }
}

.name {
  color: #47463b;
}

.text {
  font-weight: 500;
}
